# --- JAVA / SPRING BOOT ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
.classpath
.project
.settings
.sts4-cache
bin/

# --- NODE / REACT ---
node_modules/
dist/
build/
.env
.DS_Store

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- C++ / PLATFORMIO (Heltec) ---
.pio/
.vscode/
*.elf
*.bin
*.hex

# --- IDEs ---
.idea/
*.iml